<!-- 
Title: Gas Filter UI
Written by Frenjo, 03/11/2019.
 -->
<h3>Status</h3>
<div class="item">
	<div class="itemLabel">
		Power Status:
	</div>
	<div class="itemContent">
		{{if on}}
			[<span class='good'>On</span>]
		{{else}}
			[<span class='average'>Off</span>]
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Current Filter:
	</div>
	<div class="itemContent">
		{{:current_filter}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Current Pressure:
	</div>
	<div class="itemContent">
		{{:target_pressure}}kPa
	</div>
</div>

<h3>Settings</h3>
<div class="item">
	<div class="itemLabel">
		Power Switch:
	</div>
	<div class="itemContent">
		{{if on}}
			{{:~link('Off', 'close', {'power' : 'off'})}}
		{{else}}
			{{:~link('On', 'power', {'power' : 'on'})}}
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Filter Switch:
	</div>
	<div class="itemContent">
		{{:~link('Oxygen', null, {'filterset' : '0'}, (current_filter == 'Oxygen') ? 'disabled' : null)}}<br>
		{{:~link('Nitrogen', null, {'filterset' : '1'}, (current_filter == 'Nitrogen') ? 'disabled' : null)}}<br>
		{{:~link('Hydrogen', null, {'filterset' : '2'}, (current_filter == 'Hydrogen') ? 'disabled' : null)}}<br>
		{{:~link('Carbon Dioxide', null, {'filterset' : '3'}, (current_filter == 'Carbon Dioxide') ? 'disabled' : null)}}<br>
		{{:~link('Carbon Molecules', null, {'filterset' : '4'}, (current_filter == 'Carbon Molecules') ? 'disabled' : null)}}<br>
		{{:~link('Plasma', null, {'filterset' : '5'}, (current_filter == 'Plasma') ? 'disabled' : null)}}<br>
		{{:~link('Oxygen Agent-B', null, {'filterset' : '6'}, (current_filter == 'Oxygen Agent-B') ? 'disabled' : null)}}<br>
		{{:~link('Nitrous Oxide', null, {'filterset' : '7'}, (current_filter == 'Nitrous Oxide') ? 'disabled' : null)}}<br>
		{{:~link('Nothing', null, {'filterset' : '-1'}, (current_filter == 'Nothing') ? 'disabled' : null)}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Desirable Output Pressure:
	</div>
	<div class="itemContent">
		{{:~link('Change', null, {'pressure' : 'set_press'}, null)}}
	</div>
</div>