<!-- 
Title: Turbine Control Computer UI
Written by Frenjo, 04/11/2019.
Rewritten by Frenjo, 01/03/2021.
 -->
<h3>Status/Settings</h3>
<div class="item">
	<div class="itemLabel">
		Turbine Speed:
	</div>
	<div class="itemContent">
		{{:speed}}RPM
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Power Generated:
	</div>
	<div class="itemContent">
		{{:power}}W
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Internal Gas Temperature:
	</div>
	<div class="itemContent">
		{{:temp}}K
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Turbine Control:
	</div>
	<div class="itemContent">
		{{:~link('On', 'power', {'action' : 'strt'}, status ? 'selected' : null)}}{{:~link('Offline', 'close', {'action' : 'stop'}, status ? null : 'selected')}}
		{{if power > 0}}
			[<span class='good'>Generating</span>]
		{{else}}
			[<span class='bad'>Not Generating</span>]
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Vent Control:
	</div>
	<div class="itemContent">
		{{:~link('Open', null, {'action' : 'doors_open'}, doors ? 'selected' : null)}}{{:~link('Close', null, {'action' : 'doors_close'}, doors ? null : 'selected')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Camera:
	</div>
	<div class="itemContent">
		{{:~link('View', null, {'action' : 'view'})}}
	</div>
</div>