<!--
Title: Volumetric Gas Pump UI
Written by Frenjo, 03/11/2019.
Rewritten by Frenjo, 01/03/2021.
 -->
<h3>Status/Settings</h3>
<div class="item">
	<div class="itemLabel">
		Power Status:
	</div>
	<div class="itemContent">
		{{:~link('On', 'power', {'power' : 'on'}, on ? 'selected' : null)}}{{:~link('Off', 'close', {'power' : 'off'}, on ? null : 'selected')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Desirable Output Flow:
	</div>
	<div class="itemContent">
		{{:~displayBar(target_transfer_rate, 0, max_transfer_rate)}}
		<div style="clear: both; padding-top: 4px;">
			{{:~link('MIN', null, {'set_press' : 'min'}, (target_transfer_rate > 0) ? null : 'disabled')}}
			{{:~link('SET', null, {'set_press' : 'set'}, null)}}
			{{:~link('MAX', null, {'set_press' : 'max'}, (target_transfer_rate < max_transfer_rate) ? null : 'disabled')}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:target_transfer_rate}} kPa&nbsp;</div>
		</div>
	</div>
</div>